<section class="products-index">
  <header class="page-header">
    <h1>About Us</h1>
    <div class="intro">
      <p>
      Welcome to our online plant shop! We offer a wide selection of high-quality plants and flowers sourced from reputable growers and nurseries. Our products include everything from small succulents to large leafy plants, and we also carry a variety of accessories to help you care for your plants. Ordering is quick and easy, and we offer free shipping on all orders over $50. Thank you for choosing our online plant shop, and we hope you enjoy shopping with us!
      </p>
    </div>
  </header>
</section>
